# Ignore datasets
*.csv
*.xlsx
*.xls
*.parquet
*.feather
*.docx
*.txt
*.csv#
*.xlsx#
*.pdf
*.odt


# Ignore Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/